<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10">

    <Properties>
        <Property name="logFilePrefix">app-logs</Property>
        <Property name="logPattern">%d{DEFAULT} [%level] %X{CID} %c - %m%n</Property>
    </Properties>

    <Appenders>
        <RollingRandomAccessFile name="LogFile" fileName="${logFilePrefix}"
                                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>${logPattern}</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingRandomAccessFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncLogger name="me.melvins.labs" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </AsyncLogger>
        <AsyncLogger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </AsyncLogger>
        <AsyncLogger name="org.apache" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </AsyncLogger>

        <AsyncRoot level="INFO" includeLocation="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </AsyncRoot>
    </Loggers>

</Configuration>